{% extends "admin_base.html" %}
{% block title %}Brands{% endblock %}
{% block body %}
{% block content %}
<div class="container text-center">
    <h2>ALL BRANDS</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Logo</th>
                <th scope="col">Name</th>
                <th scope="col">Shoes</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for brand in brands %}
            <tr>
                <th scope="row"><img src="{{ brand.logo_url }}" class="img-fluid rounded-circle  float-left"
                    data-toggle="modal" data-target="#imageModal" data-name="{{ brand.name }}" data-src="{{ brand.logo_url }}" height="50" width="50" alt=""></th>
                <td>{{ brand.name }}</td>
                <td>{{ brand.shoes.count() }}</td>
                <td><a href="{{ url_for('.edit_brand', id=brand.id) }}" style="color:green"><i class="fa fa-edit"></i>&nbspEdit</a></td>
                <td><a href="{{ url_for('.delete_brand', id=brand.id) }}" style="color:red"><i class="fa fa-trash-o"></i>&nbspDelete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="" class="img-fluid" height="auto" width="auto" alt="">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% endblock %}