{% extends "admin_base.html" %}
{% block title %}Shoes{% endblock %}
{% block body %}
{% block content %}
<div class="container text-center">
    <h2>ALL SHOES</h2>
    <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for shoe in shoes %}
              <tr>
                <th scope="row"><img src="{{ shoe.image_url }}" class="img-fluid rounded-circle  float-left"
                  data-toggle="modal" data-target="#imageModal" data-name="{{ shoe.name }}" data-src="{{ shoe.image_url }}" height="50" width="50" alt=""></th>
                <td>{{ shoe.name }}</td>
                <td>{{ shoe.brand }}</td>
                <td>{{ shoe.size }}</td>
                <td>{{ shoe.price }}</td>
                <td><a href="{{ url_for('.edit_shoe', id=shoe.id) }}" style="color:green"><i class="fa fa-edit"></i>&nbspEdit</a></td>
                <td><a href="{{ url_for('.delete_shoe', id=shoe.id) }}" style="color:red"><i class="fa fa-trash-o"></i>&nbspDelete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
</div>
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="" class="img-fluid" height="auto" width="auto" alt="">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% endblock %}